:root {
    --light-blue: #38bdf8;
    --main-background: #f0f9ff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
    width: 100vw;
}

header {
    grid-column: 2 / 6;
    background-color: white;
    z-index: 100;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 0.2);
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sidebar-link {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-items: center;
    padding: 10px 15px;
    color: white;
    gap: 10px;
    font-weight: 500;
}

.dashboard-icon {
    height: 2.5rem;
    width: 2.5rem;
}

.dashboard-title {
    font-size: 1.5rem;
}

.sidebar-svg {
    height: 1.3rem;
    width: 1.3rem;
}

.sidebar-link > p {
    margin: 0;
    padding: 0;
    width: 100%;
}

main {
    grid-column: 2 / 6;
    grid-row: 2 / 6;
    background-color: var(--main-background);
}